---
import './global.css';
const { title = 'Doctor Cusco' } = Astro.props;
import Header from "../components/Header/Header";


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="container">
		<Header client:load />
	</body>
</html>
