---
import './global.css';
const { title = 'Doctor Cusco' } = Astro.props;
import Header from "../components/Header/Header";
import Hero from '../components/Hero/Hero'
import Services from '../components/Services/Services';
import About from '../components/About/About';
/*;

import Appointment from '../components/Appoinment/Appointment';
import Reviews from '../components/Reviews/Reviews';
import Footer from '../components/Footer/Footer'; */


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="container">
		<Header client:load />
		<Hero client:load />
		<Services client:load />
		<About client:load />
		<!-- 
		
		<Appointment client:load />
		<Reviews client:load />
		<Footer client:load /> -->
	</body>
</html>
